.pyro {
  background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(2, 100%, 65%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(2, 100%, 65%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(2, 100%, 65%, 1) 100%);
}
.hydro {
  background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(204, 100%, 59%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(204, 100%, 59%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(204, 100%, 59%, 1) 100%);
}
.cryp {
  background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(182, 100%, 73%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(182, 100%, 73%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(182, 100%, 73%, 1) 100%);
}
.electro {
  background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(2278, 100%, 73%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(278, 100%, 73%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(278, 100%, 73%, 1) 100%);
}
.anemo {
  background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(164, 100%, 64%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(164, 100%, 64%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(164, 100%, 64%, 1) 100%);
}
.geo {
  background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(39, 100%, 67%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(39, 100%, 67%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(39, 100%, 67%) 100%);
}
.dendro {
  background: radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(116, 72%, 56%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(116, 72%, 56%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 1) 20%, hsla(116, 72%, 56%, 1) 100%);
}
