.content-wrapper {
  width: 100%;
  height: 90vh;
  box-shadow: 0 0 3px white;
  // #to-check
  @media (min-width: 440px) {
    width: 398.45px;
  }
  @media (min-width: 610px) {
    width: 586px;
  }
  @media (min-width: 769px) {
    width: 722px;
  }
  @media (min-width: 1025px) {
    height: 85vh;
    width: 944px;
  }
}
