.content-wrapper {
  width: 100%;
  box-shadow: 0 0 3px white;
  // #to-check
  @media (min-width: 440px) {
    width: 402px;
  }
  @media (min-width: 610px) {
    width: 583.05px;
  }
  @media (min-width: 769px) {
    width: 720px;
  }
  @media (min-width: 1025px) {
    width: 944px;
  }
}
