.warehouse {
  position: relative;
  width: calc(100% - 3rem);
  height: 90%;
  margin-top: 2rem;

  @media (min-width: 1050px) {
    width: 1020px;
    &.setup-warehouse {
      width: 920px;
    }
  }

  .button-bar {
    position: absolute;
    bottom: calc(100% + 1rem);
    left: 0;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
  }
  .body {
    height: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    overflow: auto;
  }
  .list {
    width: 100%;
    min-width: 20.75rem;
    height: 100%;
    padding-right: 1rem;
    .item {
      position: relative;
      flex-grow: 0;
      flex-basis: 33.33%;
      max-width: 33.33%;
      padding: 0.5rem;
      @media (min-width: 769px) {
        max-width: 25%;
        flex-basis: 25%;
      }
      @media (min-width: 896px) {
        max-width: 20%;
        flex-basis: 20%;
      }
      @media (min-width: 992px) {
        max-width: 16.66%;
        flex-basis: 16.66%;
      }
    }
  }
}
