body {
  font-family: "Nunito", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-default;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(165, 165, 165);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 185, 185);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.custom-scrollbar,
.hide-scrollbar {
  overflow: auto;
}

.zoomin-on-hover:hover {
  transform: scale(1.05);
}
.zoomin-on-hover:hover img {
  transform: scale(1.2);
}

.button-focus-shadow:focus {
  box-shadow: 0 0 2px 2px black, 0 0 2px 4px white;
}
.shadow-3px-2px {
  box-shadow: 0 0 3px 2px var(--tw-shadow-color);
}
.shadow-3px-3px {
  box-shadow: 0 0 3px 3px var(--tw-shadow-color);
}
.shadow-5px-1px {
  box-shadow: 0 0 5px 1px var(--tw-shadow-color);
}

.text-last-right {
  text-align-last: right;
}
.text-last-center {
  text-align-last: center;
}

.glowing {
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 0 1px #fff, 0 0 1px 1px #fff, 0 0 2px 1px #fff, 0 0 3px 1px #fff;
  }
  to {
    box-shadow: 0 0 2px 1px #fff, 0 0 3px 2px #fff, 0 0 4px 3px #fff, 0 0 5px 4px #fff;
  }
}

.bg-gradient-1 {
  background-image: linear-gradient(to bottom, #6c6969, #8c8989, #9c9a9a);
}
.bg-gradient-2 {
  background-image: linear-gradient(to bottom, #5ca862, #61c370, #63dd7e);
}
.bg-gradient-3 {
  background-image: linear-gradient(to bottom, #5d8fa8, #72aae3, #8bb6ff);
}
.bg-gradient-4 {
  background-image: linear-gradient(to bottom, #7e4da6, #9b4cc6, #bd44e4);
}
.bg-gradient-5 {
  background-image: linear-gradient(to bottom, #a68746, #c5a03c, #e3bb2c);
}
