@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  option {
    color: black;
  }
  button,
  input,
  select {
    outline: none;
  }
  button:disabled {
    cursor: default;
  }
  select {
    background: transparent;
  }
  a {
    @apply text-green;
  }
}

@layer components {
  .styled-select {
    @apply px-2 py-1 bg-default text-black rounded font-bold;
  }
  .small-modal {
    @apply rounded-lg shadow-white-glow;
    width: 22rem;
  }
  .h-large-modal {
    @apply h-[90vh] lg:h-[85vh] max-h-[760px];
  }
  .small-tooltip {
    @apply absolute transform duration-200 z-10 bg-black rounded-lg text-sm font-normal scale-0 cursor-default;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .full-stretch {
    @apply top-0 bottom-0 right-0 left-0;
  }
}
