@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  option {
    color: black;
  }
  button,
  input,
  select {
    outline: none;
  }
  button:disabled {
    cursor: default;
  }
  select {
    background: transparent;
  }
  a {
    @apply text-green-300;
  }
}

@layer components {
  .styled-select {
    @apply px-2 py-1 bg-light-400 text-black rounded font-bold;
  }
  .small-modal {
    @apply rounded-lg shadow-white-glow;
    width: 22rem;
  }
  .h-large-modal {
    @apply h-[90vh] lg:h-[85vh] max-h-[760px];
  }
  .load-option {
    @apply pt-2 pb-3 px-4 hover:bg-dark-900;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .full-stretch {
    @apply top-0 bottom-0 right-0 left-0;
  }
}
