.more-actions-btn {
  div {
    width: 4px;
    height: 4px;
    position: relative;
    margin: 0 auto;
    transition: all 300ms;
    &:before,
    &:after {
      content: "";
      width: 4px;
      height: 4px;
      background: inherit;
      position: absolute;
      right: 0;
      transition: all 300ms;
    }
    &::before {
      top: -8px;
    }
    &::after {
      top: 8px;
    }
  }
}

.more-actions-btn.active {
  div {
    width: 16px;
    height: 2.5px;
    &:before,
    &:after {
      width: 10px;
      height: 2px;
    }
    &::before {
      top: -4px;
      transform: rotate(45deg);
    }
    &::after {
      top: 4px;
      transform: rotate(-45deg);
    }
  }
}
