.modal-transition {
  transition-property: opacity, transform;
  transition-timing-function: linear;
  transition-duration: 150ms;
}

.small-modal {
  width: 22rem;
}
.large-modal {
  width: 100%;
}
.large-modal-height {
  height: 90vh;
  max-height: 760px;
}

// #to-check: width is good?
@media (min-width: 440px) {
  .large-modal {
    width: 402px;
  }
}
@media (min-width: 610px) {
  .large-modal {
    width: 583.05px;
  }
}
@media (min-width: 769px) {
  .large-modal {
    width: 720px;
  }
}
@media (min-width: 1025px) {
  .large-modal {
    width: 944px;
  }
  .large-modal-height {
    height: 85vh;
  }
}
