@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .full-stretch {
    @apply top-0 bottom-0 right-0 left-0;
  }
  .glow-on-hover {
    @apply opacity-90 hover:opacity-100;
  }
}

body {
  font-family: "Nunito", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(165, 165, 165);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 185, 185);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.custom-scrollbar,
.hide-scrollbar {
  overflow: auto;
}

.zoomin-on-hover:hover {
  transform: scale(1.05);
}
.zoomin-on-hover:hover img {
  transform: scale(1.2);
}

.text-last-right {
  text-align-last: right;
}