.calculator {
  height: calc(100vh - 3rem);
  scroll-snap-type: x mandatory;

  @media (min-width: 448px) {
    scroll-snap-type: none;
  }
  // @media (min-width: 1536px) {
  //   width: 1432px;
  // }
}

.card {
  min-width: 22rem;
  max-width: 22rem;
  border-radius: 0.625rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.2);
  scroll-snap-align: center;
}
