.item-case {
  .item-body img {
    transition: transform 150ms ease-in-out;
  }

  &:hover {
    .item-body img {
      transform: scale(1.2);
    }
  }
  &.item-case_chosen {
    .item-body {
      -webkit-animation: glow 0.5s ease-in-out infinite alternate;
      -moz-animation: glow 0.5s ease-in-out infinite alternate;
      animation: glow 0.5s ease-in-out infinite alternate;
    }
  }
}
